#head{
     color: white;
     justify-content: center;
     background-color: lightgrey;
     text-align: center;
     height: 50px;
     display: flex;
     padding: 50px 0px 10px;
     margin: 20px ;

}
#Navigation{
    color: white;
    background-color: lightgrey;
    height: 30px;
    margin: 20px ;
    padding: 40px 0px 10px;
    display: flex;
    text-align: center;
    justify-content: center;


}
 #body{
     background-color: lightgrey;
     height: 200px;
     margin: 20px;
     
 }
     
     
  #con1{
      background-color: gray;
      height: 200px;
      width: 25%;
      color: white;
      justify-content: center;
      align-items: center;
      display: flex;
  }
   

 


      
  }
  

 

