.same{
     color: white;
     justify-content: center;
     background-color: lightgrey;
     text-align: center;
     height: 50px;
     display: flex;
     padding: 50px 0px 10px;
     margin: 20px ;

}
#Navigation{
    color: white;
    background-color: lightgrey;
    height: 30px;
    margin: 20px ;
    padding: 40px 0px 10px;
    display: flex;
    text-align: center;
    justify-content: center;


}
 #body{
     background-color: lightgrey;
     height: 210px;
     margin: 20px;
     display: flex;
     flex-wrap: wrap;
     border: 1px solid black;
     
     
 }
     
     
   

   #footor{color: white;
    justify-content: center;
    background-color: lightgrey;
    text-align: center;
    height: 50px;
    display: flex;
    padding: 50px 0px 10px;
    margin: 20px ;

   }
   
 

 
 .new{
    background-color: gray;
    height: 200px;
    width: 30%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 6px 0px 0px 30px ;
    
 }


 


      
  
  

 

